/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Regular"), local("BebasNeue-Regular"),
    url("../../fonts/bebas-neue-v1-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/bebas-neue-v1-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* baskervville-regular - latin */
@font-face {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  src: local("Baskervville Regular"), local("Baskervville-Regular"),
    url("../../fonts/baskervville-v1-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../fonts/baskervville-v1-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
