/* SEARCH ------------------------------------------------------------*/
.search-form {
  display: flex;
  align-items: center;
  height: 50px;
  width: 230px;
}

.search-input {
  outline: none;
  color: #b8b2a9;
  font-size: 14px;
  width: 184px;
  height: 30px;
  padding: 0px 0px 0px 5px;
  border: 2px #fff solid;
  border-radius: 8px;
  background-color: rgb(250, 245, 203);
}

.submit-btn {
  width: 49px;
  height: 49px;
  border: 0px;
  background: url(../../images/go-button.png) no-repeat transparent;
  padding: 0;
  background-position: 50% 0%;
  outline: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-position: 50% 100%;
}
