.section-list-wrapper {
  margin: 30px 0;
}

.section-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  border: 4px rgb(110, 93, 67) solid;
  border-radius: 8px;
  box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
}
.section-list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: inherit;
  border-radius: 5px;
  background-color: #eeeac4;
  transition: all 200ms linear;
  border: 2px rgb(226, 199, 126) solid;
}
.section-list-item:hover {
  transform: translate(0, -8px);
  background-color: rgb(233, 223, 132);
}
.selected {
  background-color: rgb(233, 223, 112);
}
