.scrollTopButton {
  display: block;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1469d8; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0;
  visibility: hidden;
  transition: all 200ms linear;
  box-shadow: 0px 0px 34px -6px rgba(0, 0, 0, 0.42);
}
.scrollTopButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.scrollTopButton:hover {
  cursor: pointer;
  background-color: #555; /* Add a dark-grey background on hover */
}
.scrollTopButton:active {
  background-color: #555;
}
.show {
  opacity: 1;
  visibility: visible;
}
